mat-grid-tile {
  padding: 2px 4px !important;
  height: 3744px !important ;
  ::ng-deep {
    .mat-grid-tile-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
    }
  }
}

mat-grid-list {
  height: calc(100vh - 150px);
  overflow: scroll;
  padding-bottom: 0px !important;
}

.calender-cell{
  width: 100%;
  height: 150px;
  min-height: 150px;
  padding: 4px;
  border: 1px solid #e2e2e2;

}
